.skills-container {
    max-width: 420px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-container h1 {
    margin: 0px 0px 0px 40px;
    align-self:flex-start;
    font-size: 40px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.377);
    font-family: var(--font-family);
}

.skills-container p {
    color: rgb(243, 243, 243);
    padding: 4px;
    font-family: var(--font-family);
    padding-left: 30px;
    padding-right: 30px;
}
.skills-category {
    width: 400px;
}

.skills-container-categories {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 0px 10px;
}
.skills-big-container{
    padding: 10px;
}
.divider {
    border-left:1px solid #636363; 
    border-right:1px solid #5f5f5f; 
    height:auto;
}

@media screen and (max-width:1390px) {
    .skills-container {
        max-width: none;

    }
}