.skillBox-container {
    width: 310px;
    overflow: hidden;
    display: flex;
    animation: ease-in;
    flex-direction: column;
    margin-right: 30px;
}

.skillBox-container h3 {
    color: #fff;
    margin-top: 10px;
    margin-left: 6px;
    align-self: center;
}

.skillBox {
    align-self: center;
    background-color: rgb(114, 137, 180);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.skillBox-area {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
}

