.hackinggame-container p {
    color: #fff;
}

.hackinggame-container h1 {
    margin-top: 5%;
    font-size: 50px;
    color: rgb(203, 211, 255);
    font-family: var(--font-family);
    padding-bottom: 60vh;
}
.hackinggame-container video {
    object-fit:cover;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}

.hackinggame-container {
    /* background: url('./images/img-home.jpg') center center/cover
    no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    background: linear-gradient(rgba(255, 255, 255, 0) 85%, rgba(0,0,0, 0.9) 95%);
}

.about-game {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('/public/images/img-internet.jpg') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-game-description {
    width: 600px;
    padding:20px;
}
.about-game-description p,.about-game-description li{
    font-size: large;
    color:rgb(231, 231, 231);
    font-family: var(--font-family);
} 
.about-game-description h2 {
    color:rgb(231, 231, 231);
    font-family: var(--font-family);
}
.about-game video {
    padding-top: 50px;
    filter: brightness(80%);
    width: 65%;
    height: 65%;
}
.hgame-horizontal {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.hgame-horizontal video{
    width: 600px;
}


.game-feature-area {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.game-feature-area video {
    filter: brightness(90%);
}
.game-feature-area p, .game-feature-area h1 {
    padding: 10px;
    color: rgb(231, 231, 231);
    font-family: var(--font-family);
    align-self: center;
}

.game-feature-area p {
    width: 600px;
    font-family: var(--font-family);
    text-align: center;
}
.hgame-canvas {
    width: 100%;
    height: 100%;

    background-color: black;
    position: absolute;
    z-index: -1;
}

.hgame-features {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}

.hgame-features h1, .hgame-features p {
    font-family: var(--font-family);
    text-align: center;
    color: white;
}

.unity-text {
    display: flex;
    align-items:center;
    align-self: center;
}

.unity-img  {
    width: 100px;
}

@media screen and (max-width:1300px) {
    .hgame-horizontal {
        flex-direction: column;
        align-items: center;
    }
    .about-game-description {
        width: 80%;
    }
    .about-game video {
        width: 98%;
        padding-top: 0px;
    }
}

@media screen and (max-width:756px) {
    .game-feature-area video {
        width: 98%;
        align-self: center;
    }
    .game-feature-area p {
        width: 95%;
        font-size: medium;
    }
}