.project-skills-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #0F1624;
}

@media screen and (max-width:1390px) {
    .project-skills-box {
        display: flex;
        flex-direction: column;
    }
}