.projects-container {
    background: #0F1624;
    padding: 4rem 0 2 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.projects-container-cards {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.projects-container > h1 {
    color: #fff;
    padding: 4px;
    text-decoration: underline;
    font-family: var(--font-family);
}
.projects-container > p {
    color: #fff;
    padding: 4px;
    font-family: var(--font-family);
}
