.projects-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container h1 {
    margin: 10px 0px 10px 100px;
    align-self:flex-start;
    font-size: 40px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.377);
    padding: 4px;
    font-family: var(--font-family);
}

.projects-container-cards {
    padding-left: 90px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.projects-container > p {
    color: #fff;
    padding: 4px;
    font-family: var(--font-family);
}


@media screen and (max-width:1390px) {
    .projects-container h1 {
        margin: 10px 0px 10px 40px;
    }
    .projects-container-cards {
        padding-left: 0px;
    }
}