.aboutMe-container {
    background: #0F1624;
    padding: 4rem 0 2 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.player {
    align-self: center;
    width: 500px;
}
.aboutMe-container h1 {
    color: #fff;
    padding: 4px;
    font-family: var(--font-family);
    text-decoration: underline;
}

.aboutMe-container p {
    color: #fff;
    padding: 4px;
    font-family: var(--font-family);
    padding-left: 30px;
    padding-right: 30px;
}